<section style="margin-top: px;">
    <div style="margin-left :610px;">
<script src="https://cdn.lordicon.com/pzdvqjsp.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/pqxdilfs.json"
    trigger="loop"
    colors="outline:#131432,primary:#606874,secondary:#66d7ee,tertiary:#000000"
    style="width:150px;height:150px">
</lord-icon>
    </div>
    <div style="margin-left: 585px;">
        <h2>ALL ORDERS</h2>
    </div>
    <div class="container fadeInDown third">
        <table class="table table-dark">
            <thead class="tableHead">
                <tr>
                    <th scope="col">Date</th>
                    <th>Address</th>
               
                    <th>Pincode</th>
                    <th>Mobile</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Payment</th>
                    <th>Status</th>
                    <th>Products</th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                    <tr>
                        <td>{{this.date}}</td>
                    
                        <td>{{this.deliveryDetails.address}}</td>
                        <td>{{this.deliveryDetails.pincode}}</td>
                        <td>{{this.deliveryDetails.mobile}}</td>
                        <td>₹{{this.totalAmount}}.00</td>
                        <td>{{this.paymentMethod}}</td>
                        <td>{{this.status}}</td>

                        <td>
                            <a href="/view-order-products/{{this._id}}" class="btn btn-primary cartButton">View Products</a>
                        </td>

                    </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</section>